<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册成功</title>
	<script type="text/javascript">  
            var time = 4;  
            function returnUrlByTime() {    
                window.setTimeout('returnUrlByTime()', 1000);    
                time = time - 1;    
                if(time<=0){  
                    time = 0;  
             window.setTimeout(window.location.href='http://127.0.0.1:1234/zl/szy-login.html', 0);   
                }  
                document.getElementById("layer").innerHTML = time;
            }    
        </script>  
</head>
<body>
	


<body onload="returnUrlByTime()">  
<div class="b_box nav_header community_header">
	
		<div  style="text-align:center" class="logo_right_text"><img alt="logo" src="../demo/images/logo.png">
		<h1 style="color: #79ff79">注册成功</h1>
		 <h1 >请进行邮箱验证</h1>
		 <a href="javascript:void(0)" onclick="window.location.href='http://127.0.0.1:1234/zl/szy-login.html'" >
		 <font size="5px" ><b><span id="layer">3</span>
		 </b>秒后会自动跳转，如果没有跳转，请点这里......</font></a></div>  
		 
		</div>











		 



</body>
</html>