<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="" enctype="multipart/form-data">
	  <div class="set-form" id="app">
		<div class="set-pic-upload">
			<h3 class="set-label">选择本地照片</h3>
			<div class="set-ovhide">
			   
				<el-upload class="upload-demo" action="Uploads"
					ref="upload" :auto-upload='false' :limit=limitNum
					:on-exceed="handleExceed" @on-change='changeUpload' 
					accept="image/jpeg,image/gif,image/png">
				<div class="btn-line">
					<svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-upload"></use>
                </svg>
					<span>上传文件</span>
				</div>
				<p class="cg9 mt10">不超过2M的gif、jpg、png图片</p>
				</el-upload>
			</div>
		</div>
		<div class="set-pic-dib">
			<h3 class="set-label">照片预览</h3>
			<div class="set-ovhide">
				<div class="picture-view">
					<div class="pic-v-box" id="img">
						<!-- 上传图片放于此处 -->
						<img :src="src" style="width: 334px; height: 335px;" alt="">
					</div>
					<svg class="icon" aria-hidden="true">
                 
                </svg>
				</div>
			</div>
		</div>
		<div class="set-pic-dib tc">
			<div class="set-pic-view">
				<img :src="src"
					style="width: 74px; height: 74px; margin-bottom: 12px; border-radius: 50%;"
					alt="">
			</div>
			<p>头像预览</p>
		</div>
		<div class="set-btn-box">
			<button class="btn-line btn-bo" v-on:click="cancel()">取&nbsp;消</button>
			<button class="btn-line btn-bo" v-on:click="onclick()">保&nbsp;存</button>
		</div>
	</div>
	</form>
</body>
<script type="text/javascript" th:src="@{/demo/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/Public/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{/Public/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/Public/js/dialog.js}"></script>
<script type="text/javascript">
var dataFuc = function dataFuc() {
	return {
		visible : false,
		loading : false,
		
		menuStyle:{
			isUserInfo:false,
			isImageSetting:true,
			isActivendicator:false,
		},
		src: '',
		limitNum: 1,
		fileName: '',
        param:'',
        //表单要提交的参数
	}
};

var app = new Vue({
	el : '#app',
	data : dataFuc,
	methods : {
		changeUpload: changeUpload,
		handleExceed: handleExceed,
		onclick: onclick,
	},
})

function onclick(){
	var fileName = this.fileName;
	var reader = new FileReader();
    reader.readAsDataURL(this.param.raw);
    reader.onload = function(e){ 
    var data = this.result; // 这个就是base64编码了
    $.ajax({
		data : {image: data,fileName: fileName},
		type : "POST",
		url : contextRoot + '/lhq/api/saveImage',
		async : false,
		success : function(result) {
			if (result.code == 200) {
				console.log(result);
				showMsg("图片上传成功");
			}else {
				app.$message.error(result.msg)
			}
		}
	});
    /* 此处停留1秒刷新页面 */
	setTimeout(function(){
		location.reload();
		},1000)
  }
}

function cancel(){
	location. reload();
}

function changeUpload (file, fileList){
	alert("图片");
	console.log(file);
      // 判断图片大小
      if (fileList[0].size < 2200000) {
        // 判断图片格式是否为jpg,png,jepg,gif
        var fileName=fileList[0].name;
        var url = fileList[0].url;
        var suffix = fileName.substring(fileName.lastIndexOf(".")+1).toUpperCase()
        if (suffix=="JPG"||suffix=="JPEG"||suffix=="PNG"||suffix=="GIF") {
        	this.src=url;
        	this.fileName=fileName;
        	this.param=file;
        } else {
          this.$message.error('文件类型不正确,请重新上传！')
        }
      } else {
        this.$message.error('图片大小超过2M,请重新上传')
      }
}

// 文件超出个数限制时的钩子
function handleExceed(file, fileList){
	this.$notify.warning({
        title: '警告',
        message: '只能选择一个文件！'
      });
}

/* function showMsg(msg){
   	app.$message({
           showClose: true,
           message: msg,
           type: 'success',
           duration: 3000
         });
   } */

</script>
</html>